html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  *,
  :after,
  :before {
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  :root {
    --red: #e60023;
    --blue: #2874f0;
    --dark-blue: #233659;
    --orange: #f07828;
    --black: #000000;
    --white: #ffffff;
    --gray: #f8f8f8;
    --light: #c2c2cc;
  }
  
  body {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: #222326 !important;
    font-size: 15px;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
      ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo,
      ＭＳ Ｐゴシック, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol;
  }
  
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
  }
  
  /*================ TABLE OF CONTENT ========= */
  /* 1. 12 Column Grid
     2. Margin
     3. Padding
     4. Input Elements
     5.Buttons
     6. Text
  */
  /*================ TABLE OF CONTENT ========= */
  
  /* 12 Column Grid */
  
  .col {
    width: 100% !important;
  }
  
  .col-1-12 {
    width: 8.33% !important;
  }
  
  .col-2-12 {
    width: 16.66 !important;
  }
  
  .col-3-12 {
    width: 25% !important;
  }
  
  .col-4-12 {
    width: 33.33% !important;
  }
  
  .col-5-12 {
    width: 41.66% !important;
  }
  
  .col-6-12 {
    width: 50% !important;
  }
  
  .col-7-12 {
    width: 58.88% !important;
  }
  
  .col-8-12 {
    width: 66.66% !important;
  }
  
  .col-9-12 {
    width: 75% !important;
  }
  
  .col-10-12 {
    width: 83.33% !important;
  }
  
  .col-11-12 {
    width: 91.66% !important;
  }
  
  /* ! 12 Column Grid */
  
  /* Margin */
  
  .mr-auto {
    margin-right: auto !important;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
  
  .mb-auto {
    margin-bottom: auto !important;
  }
  
  .m-auto {
    margin: 0 auto !important;
  }
  
  .m-2 {
    margin: 2px !important;
  }
  
  .m-4 {
    margin: 4px !important;
  }
  
  .m-6 {
    margin: 6px !important;
  }
  
  .m-8 {
    margin: 8px !important;
  }
  
  .m-10 {
    margin: 10px !important;
  }
  
  .m-12 {
    margin: 12px !important;
  }
  
  .m-16 {
    margin: 16px !important;
  }
  
  .m-20 {
    margin: 20px !important;
  }
  
  /* Margin-bottom */
  .mb-2 {
    margin-bottom: 2px !important;
  }
  
  .mb-4 {
    margin-bottom: 4px !important;
  }
  
  .mb-6 {
    margin-bottom: 6px !important;
  }
  
  .mb-8 {
    margin-bottom: 8px !important;
  }
  
  .mb-10 {
    margin-bottom: 10px !important;
  }
  
  .mb-12 {
    margin-bottom: 12px !important;
  }
  
  .mb-16 {
    margin-bottom: 16px !important;
  }
  
  .mb-20 {
    margin-bottom: 20px !important;
  }
  
  /* Margin-top */
  .mt-2 {
    margin-top: 2px !important;
  }
  
  .mt-4 {
    margin-top: 4px !important;
  }
  
  .mt-6 {
    margin-top: 6px !important;
  }
  
  .mt-8 {
    margin-top: 8px !important;
  }
  
  .mt-10 {
    margin-top: 10px !important;
  }
  
  .mt-12 {
    margin-top: 12px !important;
  }
  
  .mt-16 {
    margin-top: 16px !important;
  }
  
  .mt-20 {
    margin-top: 20px !important;
  }
  
  /* Margin-left */
  .ml-2 {
    margin-left: 2px !important;
  }
  
  .ml-4 {
    margin-left: 4px !important;
  }
  
  .ml-6 {
    margin-left: 6px !important;
  }
  
  .ml-8 {
    margin-left: 8px !important;
  }
  
  .ml-10 {
    margin-left: 10px !important;
  }
  
  .ml-12 {
    margin-left: 12px !important;
  }
  
  .ml-16 {
    margin-left: 16px !important;
  }
  
  .ml-20 {
    margin-left: 20px !important;
  }
  
  /* Margin-right */
  .mr-2 {
    margin-right: 2px !important;
  }
  
  .mr-4 {
    margin-right: 4px !important;
  }
  
  .mr-6 {
    margin-right: 6px !important;
  }
  
  .mr-8 {
    margin-right: 8px !important;
  }
  
  .mr-10 {
    margin-right: 10px !important;
  }
  
  .mr-12 {
    margin-right: 12px !important;
  }
  
  .mr-16 {
    margin-right: 16px !important;
  }
  
  .mr-20 {
    margin-right: 20px !important;
  }
  /* ! Margin */
  
  /* Padding */
  .p-2 {
    padding: 2px !important;
  }
  
  .p-4 {
    padding: 4px !important;
  }
  
  .p-6 {
    padding: 6px !important;
  }
  
  .p-8 {
    padding: 8px !important;
  }
  
  .p-10 {
    padding: 10px !important;
  }
  
  .p-12 {
    padding: 12px !important;
  }
  
  .p-16 {
    padding: 16px !important;
  }
  
  .p-20 {
    padding: 20px !important;
  }
  
  /* padding-bottom */
  .pb-2 {
    padding-bottom: 2px !important;
  }
  
  .pb-4 {
    padding-bottom: 4px !important;
  }
  
  .pb-6 {
    padding-bottom: 6px !important;
  }
  
  .pb-8 {
    padding-bottom: 8px !important;
  }
  
  .pb-10 {
    padding-bottom: 10px !important;
  }
  
  .pb-12 {
    padding-bottom: 12px !important;
  }
  
  .pb-16 {
    padding-bottom: 16px !important;
  }
  
  .pb-20 {
    padding-bottom: 20px !important;
  }
  
  /* Padding-top */
  .pt-2 {
    padding-top: 2px !important;
  }
  
  .pt-4 {
    padding-top: 4px !important;
  }
  
  .pt-6 {
    padding-top: 6px !important;
  }
  
  .pt-8 {
    padding-top: 8px !important;
  }
  
  .pt-10 {
    padding-top: 10px !important;
  }
  
  .pt-12 {
    padding-top: 12px !important;
  }
  
  .pt-16 {
    padding-top: 16px !important;
  }
  
  .pt-20 {
    padding-top: 20px !important;
  }
  
  /* Padding-left */
  
  .pl-2 {
    padding-left: 2px !important;
  }
  .pl-4 {
    padding-left: 4px !important;
  }
  
  .pl-6 {
    padding-left: 6px !important;
  }
  
  .pl-8 {
    padding-left: 8px !important;
  }
  
  .pl-10 {
    padding-left: 10px !important;
  }
  
  .pl-12 {
    padding-left: 12px !important;
  }
  
  .pl-16 {
    padding-left: 16px !important;
  }
  
  .pl-20 {
    padding-left: 20px !important;
  }
  
  /* Padding-right */
  .pr-2 {
    padding-right: 2px !important;
  }
  
  .pr-4 {
    padding-right: 4px !important;
  }
  
  .pr-6 {
    padding-right: 6px !important;
  }
  
  .pr-8 {
    padding-right: 8px !important;
  }
  
  .pr-10 {
    padding-right: 10px !important;
  }
  
  .pr-12 {
    padding-right: 12px !important;
  }
  
  .pr-16 {
    padding-right: 16px !important;
  }
  
  .pr-20 {
    padding-right: 20px !important;
  }
  /* ! Padding */
  
  /* Input Elements */
  input {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9dadc;
    border-radius: 4px;
  }
  
  .has-error{
    border: 1px solid #e60023;
  }
  
  .form-control,
  .has-success .form-control,
  .has-warning .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control {
    -webkit-appearance: none;
  }
  
  .form-control:focus {
    border-color: #919496;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px hsla(204, 2%, 58%, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px hsla(204, 2%, 58%, 0.6);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .has-error {
    border-color: #eb1e32;
  }
  
  .has-error:focus {
    border-color: #c51123;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f37c87;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f37c87;
  }
  
  /* Button */
  .btn {
    font-size: 14px;
    line-height: 1;
    border-radius: 8px;
    padding: 16px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
  }
  
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
  }
  
  .btn-link{
    padding: 20px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--blue);
    border: var(--blue);
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
  }
  
  .btn-link:hover{
    color: var(--dark-blue);
  }
  
  .btn-green {
    color: #fff;
    background-color: #1ed760;
  }
  
  .btn-green:focus {
    background-color: #1aa34a;
  }
  
  .btn-blue {
    color: #fff;
    background-color: var(--blue);
  }
  
  .btn-blue:focus {
    background-color: #1a2fa3;
  }
  
  .btn.active:focus,
  .btn:active:focus,
  .btn:focus:focus {
    outline: 0;
  }
  
  .btn:focus {
    color: #fff;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
  .btn-default {
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
  }
  
  .btn-default:active {
    color: #fff;
    background-color: #000;
  }
  
  .btn-default:focus {
    color: #fff;
    background-color: #000000;
    box-shadow: inset 0 0 0 2px #000;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .btn:active {
    transform: scale(0.95);
    transition: all 0.2s ease;
  }
  /* !Button */
  
  /* Text */
  .strong{
    font-weight: bold;
  }
  .text-muted {
    color: #c1c3c6;
  }
  
  .text-black {
    color: var(--black);
  }
  
  .text-gray {
    color: var(--light);
  }
  
  .text-white {
    color: var(--white);
  }
  
  .text-blue{
    color: var(--blue);
  }
  
  .text-dark-blue{
    color: var(--dark-blue);
  }
  
  /* .text-green */
  
  .bg-gray{
    background-color: var(--gray);
  }
  
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  a:focus,
  a:hover {
  }
  
  a {
    cursor: pointer;
  }
  
  .text-disclaimer {
    font-size: 0.7em;
  }
  
  /* !Text */
  
  /* Misc */
  .divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
  }
  
  .divider .divider-title {
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
  }
  
  .box-note {
    background: var(--gray);
    border: 1px solid #d9dadc;
    border-radius: 4px;
    padding: 16px;
    margin: 0;
  }
  
  .card-wrap {
    margin-bottom: 1em;
    padding: 0;
  }
  
  .card-container {
    border-radius: 4px;
    border: 1px solid #d9dadc;
    overflow: hidden;
  }
  
  .card-gradient-header-purple {
    border-width: initial;
    border-style: none;
    border-image: initial;
    background: linear-gradient(
      -180deg,
      rgb(182, 43, 190) 0%,
      rgb(150, 34, 185) 100%
    );
  }
  
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
  }
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .close-button:hover {
    background-color: darkgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  
  
  /* Dropdown Button */
  /* .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    /* position: relative; */
    /* display: inline-block; */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
  
  
  .circle{
    border-radius: 50%;
  }
  
  /*------------------------------------------------------ !Misc *----------------------------------------------/
  
  /* Flexbox */
  
  .flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  
  .flex-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .al-ctr {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .js-ctr {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .js-space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  /* ! Flexbox */
  