body{
  margin: 0;
  padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: underline;
}

.main-content{
    background-color: #0d2f81;
    height: 100vh;
}

.header{
    background-color: #0d2f81;
    padding: 20px 60px;
    display: flex;
}

.raw-logo{
    margin-right: 10px;
}

.second-logo{
    margin-right: 20px;
}

.logo-container{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.link{
    margin-right: 20px;
}

.action-links{
    align-items: center;
    display: flex;
    margin-left: auto;
}

.hero-section{
    padding: 90px;
    color: #ffe7aa;
}

.hero-h1{
    font-size: 71px;
    font-weight: 700;
    margin: 0;
    max-width: 600px;
}